/*
THEME NAME: Social Toolbar Pro
DESCRIPTION: Custom Layout for Social Toolbar by DaddyDesign.com
VERSION: 2
AUTHOR: Daddy Design
AUTHOR URI: http://www.daddydesign.com/
*/

/* General Settings */
*{ margin: 0; padding: 0; }
img { border: 0; }

body{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #4e4e4e;
background: #fff;
}

p { margin-bottom: 15px; line-height: 23px; }

a{ color: #4e4e4e; text-decoration: none; }
a:hover{ color: #999; text-decoration: none; }
a{ outline: none; }

.center{ text-align: center; }
sm{ font-size: 11px; }

/* FontFace Fonts */
.light{ font-family: 'MisoLight', Arial, sans-serif !important; font-weight: normal;  }
.regular{ font-family: 'MisoRegular', Arial, sans-serif !important; font-weight: normal; }
.bold{ font-family: 'MisoBold', Arial, sans-serif !important; font-weight: normal; }

/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Box Method */
.box{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Buttons */
.btn{ 
width: auto; 
height: 34px; 
float: left; 
font-size: 17px; 
color: #fff; 
line-height: 34px; 
text-transform: uppercase;
padding: 0 14px;
background: #333; 
background: linear-gradient(#444, #333); 
background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333)); /* for webkit browsers */
background: -moz-linear-gradient(#444, #333); 
background: -ms-linear-gradient(#444, #333); 
background: -o-linear-gradient(#444, #333); 
border-radius: 4px;	
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
cursor: pointer;
}
.btn:hover{ color: #999; }
.btn.big{ height: 50px; font-size: 26px; line-height: 50px; padding: 0 20px; }

/* Container */
#container{ width: 100%; float: left; display: block; position: relative; }

/* Header */
#header{ width: 100%; min-height: 80px; float: left; background: #000; }
#logo{ width: 210px; height: 36px; float: left; margin: 20px 25px 0; position: relative; }
#logo h1{ width: 210px; height: 36px; display: block; background: url(images/logo.png) no-repeat; text-indent: -9000px; }
#logo h1 a{ display: block; width: 210px; height: 36px; }

#header #nav_btn{ display: none; }
#header .toggle{ display: block; }
#header #nav{ width: auto; float: left; }
#header #nav ul{ width: auto; float: left; border-left: 1px solid #333; list-style: none; }
#header #nav ul li{ width: auto; height: 80px; float: left; border-right: 1px solid #333; }
#header #nav ul li a{ display: block; font-size: 13px; line-height: 80px; color: #fff; text-transform: uppercase; padding: 0 12px; }
#header #nav ul li a:hover{ color: #999; }

#header .btns{ width: auto; float: right; padding: 15px; }
#header .btns .btn{ margin: 8px 0 0 6px; }
#header .btns .btn.big{ margin: 0 0 0 12px; }

/* Content */
#content{ width: 100%; max-width: 1080px; display: block; padding: 60px 60px 0; margin: 0 auto; overflow: hidden;position: absolute;height: 438px;
 }

/* Generic Content */
.section{ width: 100%; float: left; margin: 0 0 60px; }
.section .header.title{ width: 100%; float: left; text-align: center; padding: 20px 0; border-top: 5px solid #000; border-bottom: 1px solid #ccc; }
.section .header.title h1{ font-size: 56px; line-height: 48px; text-transform: uppercase; }
.section .header.title h3{ font-size: 14px; line-height: 18px; font-weight: normal; font-style: italic; margin: 8px 0 0; }
.section .content{ width: 100%; float: left; padding: 40px 30px 0; }
.section.with_sidebar .content{ width: 68%; }

/* Main used with Sidebar */
#main_title{ margin: 0; }
#main{ width: 68%; float: left; padding: 40px 30px 0; }

/* Home */
#hero{ width: 100%; float: left; margin: 0 0 60px; }
#hero .video{ width: 50%; max-width: 480px; float: left; }
#hero .video iframe{ display: block; width: 100%; max-width: 100%; }
#hero .main{ width: 46%; float: right; padding: 5px 15px; }
#hero .main h1{ font-size: 70px; line-height: 58px; margin: 0 0 18px; }

#features .feature{ width: 100%; float: left; padding: 25px 0; border-bottom: 1px solid #ccc; }
#features .feature .thumb{ width: 33%; max-width: 300px; float: left; }
#features .feature .thumb img{ display: block; width: auto; max-width: 100%; height: auto; }
#features .feature .main{ width: 65%; float: left; padding: 6px 20px; margin-left: 2%; }
#features .feature .main h2{ font-size: 46px; line-height: 44px; margin: 0 0 10px; }

#setup{ border-bottom: 1px solid #ccc; }

/* Install Platforms */
.platforms{ width: 100%; float: left; padding: 15px 10px;  margin-left: 85px; }
.platform{ width: 20%; height: 20%; float: left; padding: 5px; }
.platform .wrap{ display: block; padding: 10px; background: #eee; }
.platform .wrap img{ display: block; width: auto; max-width: 100%; height: auto; }
.platform h2{ display: block; font-size: 12px; color: #999; text-align: center; padding: 0 0 5px; }

/* Tour */
.tour.section{ padding: 0 0 65px; border-bottom: 1px solid #ccc; }
.tour.section .header.title{ padding: 0; border: 0; }
.tour.section .header.title h1{ font-size: 70px; line-height: 64px; text-transform: none; }
.tour.section .content{ padding: 20px 115px 0; text-align: center; }

.tour.section .gallery{ width: 90%; float: left; padding: 15px 5%; position: relative; }
.tour.section .gallery .gallery_item{ width: 33.3333%; float: left; padding: 10px; }
.tour.section .gallery .gallery_item img{ display: block; width: auto; max-width: 100%; height: auto; }

#social-icons h2{ font-size: 32px; line-height: 32px; text-transform: none; margin: 0 0 8px; }
#social-icons ul{ width: 100%; list-style: none; padding: 0 0 20px; margin: 0; border-top: 1px dashed #ccc; overflow: hidden; }
#social-icons ul li{ width: 25%; float: left; font-size: 11px; text-align: center; padding: 6px 0 10px; margin: 0; border-bottom: 1px dashed #ccc; }
#social-icons ul li img{ display: block; margin: 0 auto; }

#install .platforms{ padding: 15px 5%; }

/* Why Go Pro */
ul#compare{ width: 100%; float: left; list-style: none; }
ul#compare li{ width: 100%; float: left; padding: 14px 0; border-bottom: 1px solid #ccc; }
ul#compare li span.feature{ 
width: 68%; 
float: left; 
font-size: 14px;
line-height: 19px;
padding: 3px 5px; 
}
ul#compare li span.blank{ width: 68%; min-height: 38px; float: left; padding: 3px 5px; }
ul#compare li span.free, ul#compare li span.pro{ 
width: 14%; 
float: right; 
font-size: 22px;
line-height: 22px;
text-align: center;
padding: 2px 10px; 
margin: 0 0 0 2%; 
}
ul#compare li span.text{ font-size: 16px; font-weight: bold; line-height: 20px; }
ul#compare li span.no{ color: #999; }
ul#compare li.title span.free, ul#compare li.title span.pro{ font-size: 36px; line-height: normal; }
ul#compare li span.price{ display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; padding-top: 2px; }
ul#compare li.btns span.price{ padding-top: 5px; }
ul#compare li a.btn{ float: none; display: inline-block; }

/* Posts */
#posts{ width: 100%; float: left; }
.post .header{ width: 100%; float: left; margin: 0 0 12px; }
.post .header h1{ font-size: 60px; line-height: 58px; }
.post .header h1 a:hover{ text-decoration: underline; }
.post .content{ width: 100%; float: left; padding: 0 !important; margin: 0 0 15px; }
.post .footer{ width: 100%; float: left; clear: both; padding: 15px 10px; border-top: 3px solid #ddd; border-bottom: 3px solid #ddd; }
.post .footer span{ font-size: 12px; line-height: 17px; }

.post .post_nav{ width: 100%; float: left; clear: both; }
.post .post_nav a{ display: block; font-size: 12px; line-height: 17px; padding: 15px 10px; border-bottom: 3px solid #ddd; }

/* Comments */
#comments{ width: 100%; float: left; }
#comments h3{ font-size: 32px; line-height: 32px; margin: 0 0 12px; }
#fb_comments{ display: block; clear: both; margin: 0 auto; overflow: hidden; }
#fb_comments .fb-comments{ width: 100% !important; }
#fb_comments .fb-comments span{ width: 100% !important; }
#fb_comments .fb-comments span iframe{ width: 100% !important; }

/* Sidebar */
#sidebar{ width: 30%; float: right; padding: 40px 30px 30px; }
#sidebar .section{ margin: 0 0 30px; }
#sidebar .section .header{ display: block; margin: 0 0 10px; }
#sidebar .section .header h2{ font-size: 32px; line-height: 32px; }
#sidebar .section .content-block{ display: block; }
#sidebar .section ul{ display: block; list-style: none; }
#sidebar .section ul li{ display: block; font-size: 14px; padding: 3px 0; }
#sidebar .section .tag_cloud{ display: block; }

/* Forms */
.wpcf7{ display: block; }
.wpcf7-form{ width: 100%; display: block; overflow: hidden; position: relative; }
.wpcf7-form fieldset{ width: 100%; float: left; display: block; border: 0; padding: 0 0 10px; }
.wpcf7-form div.form_field{ display: block; margin: 0 0 12px; position: relative; }
.wpcf7-form div.form_field span{ display: block; padding: 10px 12px; background: #f6f6f6; border: 1px solid #ddd; }
.wpcf7-form div.form_field.select span{ padding: 8px; }
.wpcf7-form div.form_field input, 
.wpcf7-form div.form_field select,
.wpcf7-form div.form_field textarea { 
width: 100%; 
display: block; 
font-family: inherit; 
color: inherit;
font-size: 13px; 
background: #f6f6f6;
border: 0;
outline: none;
}
.wpcf7-form div.form_field textarea { height: 140px; }

.wpcf7-form div.submit{ width: 100%; float: left; clear: both; margin: 0 0 20px; position: relative; }
div.wpcf7 img.ajax-loader{ position: absolute; top: 0; right: 0; }
.wpcf7-form div.submit input { 
width: auto; 
height: 34px; 
float: left; 
font-family: 'MisoRegular', sans-serif;
font-size: 17px; 
color: #fff; 
text-transform: uppercase;
padding: 0 14px;
background: #333; 
background: linear-gradient(#444, #333); 
background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333)); /* for webkit browsers */
background: -moz-linear-gradient(#444, #333); 
background: -ms-linear-gradient(#444, #333); 
background: -o-linear-gradient(#444, #333); 
border: 0;
border-radius: 4px;	
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
cursor: pointer;
}
.wpcf7-form div.submit input:hover{ color: #999; }

div.wpcf7-response-output{ 
clear: both;
border: 1px solid #000 !important;
background: #000;
margin: 0 !important; 
padding: 25px 20px !important;
color: #fff; 
text-align: center;
}
div.wpcf7-validation-errors{ color: #fff; border: 1px solid #ff0000 !important; background: #ff0000; }

div.wpcf7-response-output h3{
font-family: 'MisoLight', Arial, sans-serif;
font-size: 40px;
line-height: 36px;
font-weight: normal;
text-transform: uppercase;
margin: 0 0 3px;
}
div.wpcf7-response-output p{ font-size: 15px; line-height: 19px; margin: 0; }

span.wpcf7-not-valid-tip {
width: 100% !important;
max-width: 100%;
overflow: hidden;
background: transparent !important;
border: 1px solid #ff0000 !important;
text-indent: -9000px;
top: -1px !important;
left: -1px !important;
right: -1px !important;
bottom: -1px !important;
padding: 0 !important;
cursor: text;
}

/* Footer */
#footer{ width: 100%; max-width: 1080px; display: block; padding: 0 60px; margin: 0 auto 150px; overflow: hidden; }
#footer .wrapper{ width: 100%; float: left; border-top: 5px solid #000; }
#footer .main{ width: auto; float: left; margin: 15px 0 5px; }
#footer .main h2.logo{ width: 230px; height: 40px; float: left; margin: 0 0 5px; background: url(images/logo_footer.png) no-repeat; text-indent: -9000px; }
#footer .main h2.logo a{ display: block; width: 230px; height: 40px; }
#footer .main h3.tagline{ clear: both; font-size: 13px; font-weight: normal; font-style: italic; }

#footer .nav.main{ width: auto; float: right; margin: 15px 0 5px; }
#footer .nav.main ul{ width: auto; float: left; padding: 10px 8px 0 0; list-style: none; }
#footer .nav.main ul li{ width: auto; float: left; font-size: 12px; font-weight: bold; text-transform: uppercase; padding: 0 6px; border-left: 1px solid #ccc; }
#footer .nav.main ul li:first-child{ border: 0; }
#footer .nav.main .btns{ width: auto; float: left; }
#footer .nav.main .btns a.btn{ margin: 0 0 0 3px; }

#footer .meta{ display: block; clear: both; font-size: 10px; color: #999; }
#footer .meta span{ display: inline-block; }
#footer .meta span.credits{ display: block; padding-top: 2px; }
#footer .meta a{ color: #999; }
#footer .meta a:hover{ text-decoration: underline; }

#footer .nav.sub{ display: inline-block; padding-left: 2px; }
#footer .nav.sub ul{ display: inline-block; list-style: none; }
#footer .nav.sub ul li{ display: inline-block; padding: 0 2px 0 4px; border-left: 1px solid #ddd; }

/* Content Block Universal Code */
/* Begin Images */
.content-block img{ width: auto; max-width: 100%; height: auto; }
.content-block p img { padding: 0; max-width: 100%; }
.content-block .aligncenter { display: block; margin: 0 auto; }
.content-block .alignleft { display: inline; float: left; margin: 0 25px 25px 0; }
.content-block .alignright { display: inline; float: right; margin: 0 0 25px 25px; }
.content-block .wp-caption { color: # border: 1px solid #000; text-align: center; background-color: #000; padding-top: 4px; margin-bottom: 20px; }
.content-block .wp-caption p.wp-caption-text { font-size: 11px; line-height: 14px; padding: 4px 12px 10px; margin: 0; }
/* END Images */

/* Begin Image Gallery */
.content-block .gallery{ display: block; padding: 15px; margin: 0 0 15px; overflow: hidden; }
.content-block .gallery .gallery_item{ width: 25%; float: left; }
.content-block .gallery .gallery_item a{ display: block; margin: 5px; }
.content-block .gallery .gallery_item a img{ display: block; width: auto; max-width: 100%; height: auto; }
/* END Image Gallery */

.content-block embed, .content-block iframe, .content-block object{ max-width: 100%; }
.content-block video { max-width: 100%; height: auto; }

.content-block a{ color: #000; text-decoration: underline; }
.content-block a:hover{ color: #6b7385; }

.content-block blockquote{ 
font-size: 20px;
font-weight: bold;
font-style: italic;
line-height: 25px;
padding: 5px 15px;
margin: 0 0 18px;
}
.content-block blockquote p{ line-height: 25px; }
.content-block blockquote p:last-child{ margin-bottom: 0; }

.content-block h1, .content-block h2, .content-block h3, .content-block h4, .content-block h5{ font-size: 100%; padding: 10px 0; }
.content-block h1:first-child, .content-block h2:first-child, .content-block h3:first-child, .content-block h4:first-child, .content-block h5:first-child{ padding-top: 0; }
.content-block h1{ font-size: 24px; line-height: 28px; }
.content-block h2{ font-size: 22px; line-height: 26px; }
.content-block h3{ font-size: 20px; line-height: 24px; padding: 10px 0 5px; }
.content-block h4{ font-size: 18px; line-height: 22px; padding: 10px 0 5px; }
.content-block h5{ font-size: 16px; line-height: 20px; padding: 10px 0 5px; }

.content-block ul, .content-block ol{ padding: 0 0 15px 30px; }
.content-block ul{ list-style: disc; }
.content-block ul li, .content-block ol li{ padding: 0 0 5px; line-height: 21px; }
.content-block ul li p, .content-block ol li p{ margin: 0 0 12px; }
/* END Content Block Universal Code */

/* Modal Window */
#modal, #mask{
display:none;
width: 100%;
height: 100%;
position:fixed;
top:0px;
left:0px;
z-index: 9999999;
}
#mask{ background: #000; }

.modal_window{
display:none;
position: absolute;
top: 0; 
right: 0; 
left: 0; 
bottom: 0;
margin: 0 0 45px;
z-index: 99999999;
}
.modal_window .loader{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: block; background: url(images/loader.gif) no-repeat center; text-indent: -9000px; z-index: 9; }

.controls{
display:none;
width: 100%;
height: 100%;
position: relative;
z-index: 99999999;
}
.controls .wrap{ width: 100%; display: block; position: absolute; bottom: -45px; text-align: center; }
.controls .btns{ width: auto; display: inline-block; margin: 0 auto; }
.controls .btns span{ width: auto; height: 30px; display: inline-block; font-size: 16px; color: #999; line-height: 30px; background: #fff; border-right: 1px solid #000; vertical-align: top; }
.controls .btns span.prev_btn, .controls .btns span.next_btn{ font-size: 21px; line-height: 28px; }
.controls .btns span.next_btn{ border-right: 0; }
.controls .btns .disabled{ color: #999; padding: 0 12px;  }
.controls .btns span a{ display: block; color: #333; padding: 0 12px; cursor: pointer; }
.controls .btns span a:hover{ color: #999; text-decoration: none; }

/* Promo */
#promo_wrapper{ display: none; }
#promo{ display: block; padding: 60px; background: #fff; overflow: hidden; text-align: center; }
#promo h1{ font-size: 46px; line-height: 46px; }
#promo .btns{ display: inline-block; overflow: hidden; padding-top: 25px; }
#promo .btns .btn{ height: 40px; font-size: 19px; line-height: 40px; padding: 0 15px; margin: 0 5px; }
#promo .btns .btn.no_thanks{ height: 38px; line-height: 38px; color: #333; background: none; border: 1px solid #333; }
#promo .btns .btn.no_thanks:hover{ color: #999; }

/* Facebook Promo */
#promo.fb{ color: #fff; background: #23599c; }
#promo.fb h1{ background: url(images/fb_promo.png) no-repeat top center; padding-top: 105px; }
#promo.fb .btns .btn{ color: #23599c; background: #fff !important; }
#promo.fb .btns .btn:hover{ color: #4296fd; }
#promo.fb .btns .btn.no_thanks{ color: #fff; background: none !important; border: 1px solid #fff; }
#promo.fb .btns .btn.no_thanks:hover{ color: #c7e0ff; }

/* Promo Modal */
#modal.with_promo .modal_window{ width: 560px; position: relative; top: inherit; right: inherit; left: inherit; bottom: inherit; margin: 0; }
	.descript{padding-left:13px;padding-right:13px;}
	@media screen and (max-width: 549px)  
	{
	.platforms{margin-left:9% !important;}
	.section .header.title h1{font-size:30px !important;}
	#content{height:340px !important;}
	}
	@media screen and (max-width: 370px)	
	{
	#content{height:300px !important;}
	.platform .wrap img {height: 29px;  max-width: 23px;margin-left: -5px !important;} 
	}