/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


* {
    margin: 0;
}
html, body {
    height: 100% !important;
}
.wrapper {
    min-height: 100% !important;
    height: auto !important;
    height: 100% !important;
    margin: 0 auto -142px !important; /* the bottom margin is the negative value of the footer's height */
}
.share-buttons{
	list-style: none;

}

.share-buttons li{
	display: inline;
	padding: 4px;
}
.title{
	font:"MS Serif", "New York", serif;
	font-weight:bold;
	text-align:center;
	font-size:20px;
	padding-top: 10px;
}
