.side-box {
  height: 270px;
  width: 323px;
  border: 1px solid grey;
  float: right;
  margin-right: 1%;
  border-radius: 9px;
}

.box-heading
{
  text-align: center;
  margin-bottom: 21px;
  border-bottom: 1px solid;
  padding-bottom: 13px;
  padding-right: 0px !important;
  font-size: 19px;
  margin-top: 0px !important;
  padding-top: 13px;
  position: relative;
  /* padding-right: 124px !important; */
  border-radius: 10px 10px 0px 1px;
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(50%, #f6f6f6), to(#f4f4f4));
  color:grey;
}
.info-image
{
  margin-top: -24px;
  margin-left: -100px;
  position: absolute;
}
.box-para {
  padding: 5;
  }
  ul {
    list-style-type: none;
    margin: 0;
	padding:0px;
	margin-left:170px;

}
ul li
{
 display: inline-block;
    padding-left: 7px;
}
ul li>a
{
 text-decoration:none;
}
img.verify {
  width: 155px;
   float: right;
   margin-top: -14px;
}
.info {
  width: 56%;
}
.lock
{
	background-image: url('../img/verify.png');	
}
img.credit {
  width: 88px;
}
.data {
  margin-top: 27px;
}